
{% assign summary = site.data.data.summary %}
<section class="resume-section summary-section mb-2">
  <h2 class="resume-section-title text-uppercase font-weight-bold pb-2 mb-3">{{ summary.title }}</h2>
  <div class="resume-section-content">
    <p class="mb-0">{{ summary.description | markdownify }}</p>
  </div>
  <!-- 
  {% assign skills = site.data.data.skills %}
  {% if skills.soft %}
  <div class="resume-section-content">
      <h3 class="resume-skills-cat font-weight-bold">SOFT SKILLS</h3>
      <ul>
      {% for skill in skills.soft %}
          <li class="resume-section-content mb-0">
              <div class="resume-section-content">{{ skill.name }}</div>
          </li>
      {% endfor %}
      </ul>
  </div>     
  -->
  {% endif %}

</section>